### Question 1 Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(num):
    if str(num) == str(num)[::-1]:
        print(f'{num} ➞ {True}')
    else:
        print(f'{num} ➞ {False}')

is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

7227 ➞ True
12567 ➞ False
44444444 ➞ True
9939 ➞ False
1112111 ➞ True

### Question 2 Given a string of numbers separated by a comma and space, return the product of the numbers.

In [3]:
def findproduct(num):
    out_list = num.replace(' ','').split(',')
    out_num = 1
    for i in out_list:
        out_num *= int(i)
    print(f'{num} ➞ {out_num}')
    
findproduct("2, 3")
findproduct("1, 2, 3, 4")
findproduct("54, 75, 453, 0")
findproduct("10, -2")

2, 3 ➞ 6
1, 2, 3, 4 ➞ 24
54, 75, 453, 0 ➞ 0
10, -2 ➞ -20

### Question 3 Create a function that squares every digit of a number.

In [8]:
def square_digits(in_num):
    in_list = [str(int(ele)**2) for ele in str(in_num)]
    out_list = ''.join(in_list)
    print(f'{in_num} ➞ {int(out_list)}')

square_digits(9119)
square_digits(2483)
square_digits(3212)

9119 ➞ 811181
2483 ➞ 416649
3212 ➞ 9414

### Question 4 Create a function that sorts a list and removes all duplicate items from it.

In [9]:
def setify(in_list):
    out_list = sorted(set(in_list))
    print(f'{in_list} ➞ {out_list}')
    
setify([1, 3, 3, 5, 5]) 
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 3, 5, 5] ➞ [1, 3, 5]
[4, 4, 4, 4] ➞ [4]
[5, 7, 8, 9, 10, 15] ➞ [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] ➞ [1, 2, 3]

### Question 5 Create a function that returns the mean of all digits.

In [10]:
def mean(in_num):
    in_list = [int(ele) for ele in str(in_num)]
    out_num = sum(in_list)/len(str(in_num))
    print(f'Mean of {in_num}  ➞ {out_num:.0f}')
    
mean(42)
mean(12345)
mean(666)

Mean of 42  ➞ 3
Mean of 12345  ➞ 3
Mean of 666  ➞ 6